<div id="board" player-turn="x">
  <h2 id="game-mode"></h2>
  <div class="row">
    <div class="cell" move-x=0 move-y=0></div>
    <div class="cell" move-x=0 move-y=1></div>
    <div class="cell" move-x=0 move-y=2></div>
  </div>
  <div class="row">
    <div class="cell" move-x=1 move-y=0></div>
    <div class="cell" move-x=1 move-y=1></div>
    <div class="cell" move-x=1 move-y=2></div>
  </div>
  <div class="row">
    <div class="cell" move-x=2 move-y=0></div>
    <div class="cell" move-x=2 move-y=1></div>
    <div class="cell" move-x=2 move-y=2></div>
  </div>
</div>
